*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #0c1727;
    color: #ffffff;
}
#header{
    width:100%;
    height: 100vh;
    background-image: url(images/cover.jpeg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li {
    display:inline-block;
    list-style:none;
    margin: 10px 20px;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
    
}   
.header-text{
    margin-top:20%;
    font-size:30px;
}
.header-text h1{
    font-size:60px;
    margin-top:20px;
}
.header-text h1 span{
    color: #ff004f;
}
/*------------about-----------*/
#about{
    padding:80px 0;
    color: #ababab;
}

.row{
        display:flex;
        justify-content:space-between;
        flex-wrap:wrap;
    }
.about-col-1{
    flex-basis:35%;

}
.about-col-1 img{
    width:100%;
    border-radius:15px;
}
.about-col-2{
    flex-basis:60%;
}
.sub-title{
    font-size:60px;
    font-weight:600;
    color: #fff;
}
p {
    line-height: 1.5; 
}
.tab-titles{
    display:flex;
    margin:20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor:pointer;
    position:relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left:0;
    bottom: -8px;
    transition: 0.5s;
}   
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style:none;
    margin:10px 0;

}
.tab-contents ul li span{
    color: #df7b9b;
    font-size:14px;
}
.tab-contents{
    display:none;
}
.tab-contents.active-tab{
    display:block;
}
.grade-right {
    margin-left: 25px; 
    color: #ff004f; 
    font-weight: 600;
    font-size: 14px;
}

#education ul li {
    line-height: 1.5; 
    margin-bottom: 20px;
}
#education ul li strong {
    font-weight: bold; 
    color: #fff;       
}

/*------------certificates-----------*/
#certificates{
    padding:30px 0;
}
.certificate-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top:50px;
}
.certificate-list ul li a {
    color: #ff004f; 
    text-decoration: none;
    font-size: 14px;
    margin-left: 10px;
}
#certificates div h2 {
    margin-bottom: 20px; 
}

#certificates ul li {
    margin-bottom: 15px; 
}
.cert-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 30px;
    padding:0;
    margin:0;
    list-style: none; 
}

.cert-item {
    text-align: left; 
}

.cert-thumb {
    width: 100%; 
    max-width: 250px; 
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.cert-thumb:hover {
    transform: scale(1.05);
    border: 1px solid #ff004f;
}
#certificates {
    padding: 30px 0 30px 50px; 
}

.cert-thumb {
    width: 250px; 
    height: 170px; 
    object-fit: cover; 
    border-radius: 8px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.cert-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 0; 
    list-style: none;
}

/*------------projects-----------*/
#projects{
    padding:40px 0;
    width:100%;
}
.project-list{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top:40px;
    transition: transform 1.5s;
}
.project-list div h2{
    font-size: 24px;
    margin-bottom: 15px;
}
.project-list div p{
    display: block;
    margin-top: 15px;
    color: #ababab;
    font-size: 18px;
}
/* Hide project details by default */
.project-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out; 
    color: #ababab;
}

.show-details {
    max-height: 500px; 
}

.project-list h2 {
    cursor: pointer;
    color: #fff;
    transition: color 0.3s;
}

.project-list h2:hover {
    color: #ff004f;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin-top: 20px;
}


.project-list div {
    background: #1a2436;
    padding: 30px;
    border-radius: 12px;
    border: 1px solid transparent; 
    transition: transform 0.4s ease, border-color 0.4s, box-shadow 0.4s;
}
.project-list div:hover {
    transform: translateY(-10px); 
    border-color: #690424ee;        
    box-shadow: 0 10px 30px rgba(255, 0, 79, 0.2); 
}

/*------------contact-----------*/
#contact
{
    padding:40px 0;
    width:100%;
}
.contact-left{
    flex-basis:35%;
    padding-left: 0;
}
.contact-right{
    flex-basis:60%;
}
.contact-left p{
    margin-top: 30px;
    padding-left: 0;
}
.social-icons a i {
    font-size: 45px; 
    margin-right: 15px;
    transition: 0.3s;
}

.social-icons a:hover i {
    color: #ff0008;
    transform: scale(1.2); 
}